@(decision: data.Decision)

@prevLink(isRoot: Boolean) = {
  @if(!isRoot) {
    <input
      id="back-button"
      type="submit"
      value="<< Previous"
      onclick="javascript:prevClickHandler();"
     />
  }
}

@nextLink(isTerminal: Boolean) = {
  @if(!isTerminal) {
    <input
      id="next-button"
      type="submit"
      value="Next >>"
    />
  }
}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Change Order</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/parsley.js")"></script>
    <script type="text/javascript">
      function prevClickHandler() {
    	  var theForm = document.theForm;
    	  theForm.noValidate = "true";
    	  $("#theForm").parsley().destroy();
    	  document.theForm.action = "/prev";
      }
    </script>
    <link type="text/css" href="@routes.Assets.at("stylesheets/default-stylesheet.css")" rel="stylesheet">
    <style type="text/css">
      .node-content {
        padding: 20px 10px 10px 10px;
        font-size: 14pt;
      }
      .parsley-error {
        color: #B94A48;
        background-color: #F2DEDE;
        border: 1px solid #EED3D7;
      }
      ul.parsley-errors-list {
          font-size: 12px;
          margin: 2px;
          list-style-type: none; 
      }
      ul.parsley-errors-list li {
          line-height: 12px;
      }
    </style>
  </head>
  <body>
    <div class="top-background">
      <div class="outer-container">
        <header class="main">
          <img src="@routes.Assets.at("images/cfcs-logo.png")" id="logo" alt="Catholic Funeral &amp; Cemetery Services" />
        </header>
        <div class="top-button">
          <div class="save-exit">
            <h5 class="center"><a href="/forms" class="type1">Save &amp; Exit</a></h5>
          </div>
        </div>
        <div class="content-area">
          <form action="/next" id="theForm" name="theForm" method="POST" data-parsley-validate>
            <fieldset style="height: 330px;">
              <legend>
                &nbsp;&nbsp;@decision.context.description&nbsp;&nbsp;
              </legend>
              <div class="node-content">
                <input type="hidden" name="@FormFill.RequestParams.CURRENT_NODE" value="@decision.context.id" />
                @decision.context.renderAsHtml(decision.rawInput)
              </div>
            </fieldset>
            <div class="bottom-buttons">
              <div class="next">@nextLink(decision.context.isTerminal())</div>
              <div class="back">@prevLink(decision.previous == null)</div>
            </div>
          </form>
        </div><!-- /content-area -->
      </div><!-- /outer-container -->
    </div><!-- /top-background -->
  </body>
</html>
