@(decision: data.Decision)

@prevLink(isRoot: Boolean) = {
  @if(!isRoot) {
    <input
      id="back-button"
      type="submit"
      value="<< Previous"
      onclick="javascript:modifyTheForm('/prev', true);"
     />
  }
}

@nextLink(isTerminal: Boolean) = {
  @if(!isTerminal) {
    <input
      id="next-button"
      type="submit"
      value="Next >>"
      onclick="javascript:modifyTheForm('/next', false);"
    />
  }
}

<!DOCTYPE HTML>
<html>
  <head>
    <link type="text/css" href="@routes.Assets.at("stylesheets/default-stylesheet.css")" rel="stylesheet">
    <script type="text/javascript">
      function modifyTheForm(action, noValidate) {
    	  var theForm = document.theForm;
    	  theForm.action = action;
    	  theForm.noValidate = noValidate;
      }
    </script>
    <meta charset="UTF-8" />
    <title>Change Order</title>
  </head>
  <body>
    <div class="top-background">
      <div class="outer-container">
        <header class="main">
          <img src="@routes.Assets.at("images/cfcs-logo.png")" id="logo" alt="Catholic Funeral &amp; Cemetery Services" />
        </header>
        <div class="top-button">
          <div class="save-exit">
            <h5 class="center"><a href="/forms" class="type1">Save &amp; Exit</a></h5>
          </div>
        </div>
        <div class="content-area">
          <form action="/next" name="theForm" method="POST">
            <fieldset style="height: 330px;">
              <legend>
                &nbsp;&nbsp;@decision.context.description&nbsp;&nbsp;
              </legend>
              <div style="padding: 20px 10px 10px 10px; font-size: 14pt">
                <input type="hidden" name="@FormFill.RequestParams.CURRENT_NODE" value="@decision.context.id" />
                @decision.context.renderAsHtml(decision.rawInput)
              </div>
            </fieldset>
            <div class="bottom-buttons">
              <div class="next">@nextLink(decision.context.isTerminal())</div>
              <div class="back">@prevLink(decision.previous == null)</div>
            </div>
          </form>
        </div><!-- /content-area -->
      </div><!-- /outer-container -->
    </div><!-- /top-background -->
  </body>
</html>
