@(selection: String, choices: List[tree.ChoiceNode.Choice])

@checkedIf(condition: Boolean) = {
  @if(condition) {
    checked
  }
}

<div class="input-fields">
@for(choice <- choices) {
  @defining(choice.description) { description =>
    <div class="input-row">
      <input
        type="radio"
        name="choice"
        value="@description"
        @checkedIf(selection.equals(description))
        required
      ><label for="choice#@description">@description</label>
    </div>
  }
}
</div>
