@(selection: String, choices: List[tree.ChoiceNode.Choice])

@checkedIf(condition: Boolean) = {
  @if(condition) {
    checked
  }
}

@for(choice <- choices) {
  @defining(choice.description) { description =>
    @defining(choice.description.replaceAll("\\s+","")) { id =>
    <input
      type="radio"
      name="choice"
      value="@description"
      id="@id"
      @checkedIf(selection.equals(description))
      required
    ><label for="@id">@description</label><br><br>
    }
  }
}
