@main("Forms") {
  <script type="text/javascript">
  	function clearSavedChoicesHandler() {
  		var choice = confirm("This will clear the currently loaded form. Continue?");
  		if (choice == true)
  			window.location="/startNewForm";
  	}
  </script>
  <div style="margin: 150px 0 0 0;">
    <ul class="nav-block">
      <li><a href="javascript:clearSavedChoicesHandler();">Start a new change order</a></li>
      <li><a href="/continueCurrentForm">Continue the current change order</a></li>
      <li><a href="/loadPrevious">Load a previously completed change order</a></li>
      <!-- <li><a href="javascript:alert('not implemented');">Change Constants</a></li> -->
      <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
  @if(flash.get("noCurrentForm") != null) {
    <script>
      alert("There doesn't seem to be a change order currently loaded. Try " +
    		"starting a new one, or load a previously completed one.");
    </script>
  }
}
