@(formVars: List[core.forms.FormVariable])

@main("Form Variables") {
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")"></script>
  <script type="text/javascript">
    function updateFormVariables() {
	  $.post('updateFormVariables', $('#formVariables').serialize(), function(data) {
		  alert("Form variables have been updated. These values will apply to "
				  + "all new forms. These values will also apply to new "
				  + "decisions made for previously completed forms.");
	  })
	  .fail(function() {
		  alert("Your change couldn't be applied. Please check your inputs " 
				  + "and make sure they are valid. If you believe the inputs "
				  + "are valid, but you're still having a problem, contact "
				  + "support.");
	  });
    }
  </script>
  <form id="formVariables" action="/updateFormVariables" method="POST">
    <fieldset>
    <legend>Set form variables</legend>
    @for(formVar <- formVars) {
      @defining(formVar.getId()) { varId =>
      <div class="input-row">
        <label for="@varId">@formVar.getName()</label>
        <input type="text" id="@varId" name="@varId" value="@formVar.getValue()" /> 
      </div>
      } @* /varId *@
    }
    <div class="input-row">
      <label>@*Empty column to align submit button with input fields*@</label>
      <button type="button" onClick="javascript:{updateFormVariables();}">Submit</button>
    </div>
    </fieldset>
  </form>
  <div class="bottom-buttons">
    <a href="/forms">Back</a>
  </div>
}
