@(employeeHistory: List[EmployeeHistoryEntry])

@loadLink(id: Integer, text: String) = {
  <a href="javascript:{setFormRowId(@id); theForm.submit();}">@text</a>
}

@main("Load previous change order") {
  <form id="theForm" action="/loadPrevious" method="POST">
    <input type="hidden" name="formRowId" id="formRowId" />
  </form>
  <script>
  	function setFormRowId(formRowId) {
		document.getElementById("formRowId").value = formRowId;
  	}
  </script>
  <style>
    h1 {
      margin-top: 20px;
    }
    table {
      margin: 20px auto;
      border-collapse: collapse;
      min-width: 640px;
    }
    thead {
      background: #9D1B2F;
    }
    th {
      padding: 5px 10px;
      color: #FFF;
      text-align: left;
    }
    tbody tr:nth-child(odd) {
      background: #BCBBBA;
    }
    td {
      padding: 5px 10px;
      text-align: left;
    }
  </style>
  <h1>Load Previously Completed Change Order</h1>
    <table>
      <thead>
        <tr>
          <th>Date Created</th>
          <th>Date Modified</th>
          <th>Patron</th>
        </tr>
      </thead>
      <tbody>
      @if(employeeHistory.isEmpty()) {
        <tr>
          <td colspan="3" style="text-align: center";>No history to display.</td>
        </tr>
      }
      @for(entry <- employeeHistory) {
        <tr>
          <td>@loadLink(entry.formRowId, entry.dateCreated.toString())</td>
          <td>@loadLink(entry.formRowId, entry.dateModified.toString())</td>
          <td>@loadLink(entry.formRowId, entry.patronName)</td>
        </tr>
      }
      </tbody>
    </table>
    <div class="bottom-buttons">
      <a href="/forms">Back</a>
    </div>
}
