@(title: String)(content: Html)

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>@title</title>
    <link type="text/css" href="@routes.Assets.at("stylesheets/default-stylesheet.css")" rel="stylesheet">
  </head>
  <body>
    <div class="top-background">
      <div class="outer-container">
        <header class="main">
          <img src="@routes.Assets.at("images/cfcs-logo.png")" id="logo" alt="Catholic Funeral &amp; Cemetery Services" />
        </header>
        <div class="content-area">
          @content
        </div><!-- /content-area -->
      </div><!-- /outer-container -->
    </div><!-- /top-background -->
  </body>
</html>
