@(field: core.tree.fields.SelectField)

@import views.html.questionnaire.fieldTypes.helpers._
@import org.apache.commons.lang3.StringUtils

@defining(field.name.replaceAll("\\s+", "")) { id =>
  @fieldLabel(field.label, id)
  <select
    name="@field.name"
    id="@id"
    value="@field.value"
    data-parsley-trigger="change"
    @required(field.isRequired)
  >
    @for(option <- field.options) {
      <option value="@option">@option</option>
    }
  </select>
  <script type="text/javascript">
  @if(StringUtils.isNotEmpty(field.value)) {
	document.getElementById('@id').value = '@field.value';
  } else {
  	document.getElementById('@id').selectedIndex = -1;
  }
  </script>
}
